<!-- About Header -->
<div class="about" flex layout="column" layout-align="center center">
	<p>nossa história</p>
	<h1>a movme</h1>
</div>

<!-- About Content -->
<div class="about-content" layout-xs="column" layout-gt-xs="row">
	<div flex-xs="100" flex-gt-xs="50" layout="column" layout-align="end end">
		<span>
			<strong>FELIPE MULLER E JUNIOR BEVILLAQUA</strong>
			<br>fundadores da Movme
		</span>
	</div>
	<div flex-xs="100" flex-gt-xs="50" layout="column" layout-align="center end">
		<span>
			A Movme é resultado de diversas observações e insights ao longo de vários anos e foi criada para solucionar os mais variados problemas de mobilidade urbana. Com dois anos de existência, criou o Movme Go2, a solução ideal para os pequenos trajetos do dia a dia.
		</span>
	</div>
</div>

<!-- Manifest Content -->
<div class="about-manifest" layout="column" layout-align="center start">
	<h2>nosso manifesto</h2>
	<p>
		Sou mais do que um meio de transporte de um ponto a outro. Eu sou a liberdade de escolha. Sou você que escolhe seus próprios caminhos e decide qual o roteiro da sua jornada. Que ama explorar cada nova descoberta e sentir-se livre para aproveitar seu tempo. Você que sabe que o destino final é consequência: o caminho é o que importa. Sou minutos bem aproveitados e distâncias encurtadas. Sou movimento e energia - eu nunca paro. Eu sou o novo, o amanhã.
		<br><br>
		<strong>Eu sou a Movme.</strong>
	</p>

</div>