<!-- Header Content -->
<md-toolbar>
  <div class="md-toolbar-tools">
    <!-- Header Logo -->
    <img src="assets/img/logo.png" alt="Movme" ng-click="path('/')" />
    <span flex></span>
    <!-- Header Paths -->
    <md-button class="md-primary md-buy" hide-xs aria-label="" ng-click="path('/comprar')">COMPRAR</md-button>
    <md-button class="md-primary" hide-xs aria-label="" ng-click="path('/go2')">MOVME GO2</md-button>
    <md-button class="md-primary" hide-xs aria-label="" ng-click="path('/faq')">FAQ</md-button>
    <md-button class="md-primary" hide-xs aria-label="" ng-click="path('/nossa-historia')">NOSSA HISTÓRIA</md-button>
    <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleRight()" hide-sm hide-md hide-lg>
      <md-icon class="matrial-icon">menu</md-icon>
    </md-button>
  </div>
</md-toolbar>