<!-- Video Dialog Content -->
<md-dialog aria-label="Video">
  <form style="width: 100vh" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Conheça o movme<span class="brand-text">go2</span></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon class="material-icon">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="video-wrapper">
        <iframe width="100%" height="auto" src="https://www.youtube.com/embed/op8-rKAeJdM?autoplay=1&hd=1" frameborder="0" allowfullscreen>
        </iframe>
		  </div>
    </md-dialog-content>

  </form>
</md-dialog>